:root {
    --heading-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h3, h4, h6 {
    font-family: var(--heading-font);
}
button:hover {cursor: pointer;}

 /* HEADER */
header {
    background: #0b79bf;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: #EEEEEE;
    padding: 15px;
    font-size: 1.2rem;
}
nav a:hover {
    color: white;
    background: #0a67a1;
}
nav .active { background: #0a67a1; }

#logo_link {
    color: rgb(34, 34, 34);
    font-weight: bolder;
    text-decoration: none;
}

#logo_link h1 {
    margin: 0;
    padding: 0 10px;
}
#logo_link h1:hover { color: #EEEEEE; }


/* MAIN */
.home-hero {
    background: linear-gradient(to bottom, rgba(125, 124, 124, 0.51), rgba(0, 0, 0, 0.5)), url('../images/techstore-bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 5% 40px 5%;
    color: #EEEEEE;
    text-align: center;
}
.home-hero p, .center-sect p { font-size: 1.1rem; margin: 30px 0;}
.home-hero h3, .center-sect h3 { font-size: 1.7rem; }
.home-hero .button {
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    background: #62A87C;
    color: #EEEEEE;
    font-size: 1rem;
    box-shadow: 0px 0px 10px 10px #2b2b2b34;
    text-decoration: none;
}
.center-sect {
    color: #212529;
    text-align: center;
    padding: 10px 5% 40px 5%;
}
.center-sect .button {
    display: inline-block;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background: #62A87C;
    color: #EEEEEE;
    font-size: 1rem;
    box-shadow: 0px 0px 10px 2px #2b2b2b1a;
    text-decoration: none;
}
.bottom-sect {
    background: linear-gradient(to bottom, rgba(149, 149, 149, 0.51), rgba(0, 0, 0, 0.5)), url('../images/techstore-bg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 5% 40px 5%;
    color: #EEEEEE;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

/* FOOTER */
footer {
    background: #212529;
    padding: 5px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #EEEEEE;
}
footer p { margin: 0; }
footer .social img {
    padding: 10px;
    width: 40px;
}
footer a {
    text-decoration: none;
    color: #EEEEEE;
}

.products-hero, .reviewers-hero {
    text-align: center;
    margin-top: 5rem;
}
.products-hero p, .reviewers-hero p {
    line-height: 150%;
}

/* -----------PRODUCTS PAGE ----------------*/
.products-hero h3 {
    font-size: 1.7rem;
}
#products-main,.products-hero  {
    padding: 0 5%;
}
#products-main a {
    text-decoration: none;
    color: #0d6efd;
}
#products-main h6 {
    margin: 0;
    font-size: .8rem;
}
#products-main ul {
    padding-left: 25px;
}
#products-main li {
    margin: 5px 0;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem 0;  
}
.product-card {
    display: grid;
    grid-template-rows: 3rem 10rem 8rem 2rem;
    grid-template-columns: repeat(2, 8rem);
    grid-gap: 15px;
    width: 17rem;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(236, 236, 236, 0.877);
    margin: 20px;
    padding: 20px;
    transition: .5s;
}
.product-card:hover {
    box-shadow: 0px 0px 20px 10px rgb(236, 236, 236);
}
.product-title {
    grid-column: 1 / 3;
    margin: 0;
    align-self: center;
}
.product-image {
    grid-column: 1 / 2;
    width: 100%;
    border-radius: 5px;
}
.product-info {
    margin: 0;
    width: 100%;
    font-size: .7rem;
    padding: 2px;
    line-height: 150%;
}
.product-specs {
    font-size: .7rem;
}

.product-reviews {
    font-size: .8rem;
}
.product-price {
    align-self: center;
}
.buy-btn {
    background: #198754;
    border: none;
    border-radius: 5px;
    color: #EEEEEE;
    width: 70px;
    height: 25px;
    justify-self: end;
    align-self: center;
}
.buy-btn:hover {
    background: #198754de;
}

/* -----------REVIEWERS PAGE ----------------*/
#reviewers-main {
    padding: 0 5%;
    margin-bottom: 5rem;
}
#reviewers-main a {
    text-decoration: none;
    color: #0d6efd;
}
.reviewers-container {
    margin: 5rem 0;
}
.reviewer-item {
    background: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 30px 0;
    display: grid;
    grid-template-rows: 3.5rem auto;
    grid-template-columns: auto 3rem;
    padding: 20px;
    transition: .5s;
}
.reviewer-logo {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    border-radius: 3px;
}
.reviewer-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    align-self: center;
}
.reviwer-details {
    grid-column: 1 / 3;
    color: #464646;
}